body{
  margin: 0;
  background-color: #e3dfd5;
}
.header{
  background-color: #305673;
  width: 100%;
  height: 130px;
}
.title{
  margin: 0;
  transform: translateY(20px);
  color:white;
  text-align: center;
  font-weight: lighter;
  text-decoration: none;
}
.products{
  margin: 0;
  color:white;
  float: left;
  margin-left: 40px;
  transform: translateY(60px);
  font-weight: lighter;
}
.menu{
  margin: 0;
  color:white;
  float: left;
  margin-left: 20px;
  transform: translateY(60px);
  font-weight: lighter;
}
.cart{
  background-image: url("Images/Shoppingcart.png");
  background-size:contain;
  width: 34px;
  height: 30px;
  background-repeat: no-repeat;
  float: right;
  transform: translateY(13px) translateX(-90px);
}
.user{
  background-image: url("Images/user.png");
  background-size:contain;
  width: 28px;
  height: 30px;
  background-repeat: no-repeat;
  float: right;
  transform: translateY(13px) translateX(-10px);
}
.search-button{
  background-color: #e4b833;
  width:55px;
  height: 40px;
  float: right;
  position: relative;
  transform: translateY(45px);
}
.search-container{
  width: 465px;
  height: 40px;
  float: right;
  transform: translateX(20px);
}
.search{
  padding: 9px;
  height: 60%;
transform: translateX(5px);
}
.search-container input  {
  float: left;
  position: relative;
  width: 400px;
  height:35px;
  font-size: 18px;
  font-family: "Arial", sans-serif;
  transform: translateY(45px);
}
input[type="text"] {
  color: #4c4c4c;
  height:35px;
  font-size: 18px;
  font-family: "Arial", sans-serif;
}
.features{
  font-family: helvetica;
  font-weight: lighter;
  color: #4c4c4c;
  margin-left: 40px;
  margin-top: 20px;
}
.checkout{
  font-family: helvetica;
  font-weight: lighter;
  color: #305673;
  margin-left: 36px;
  margin-top: 50px;
}
.process{
  font-family: helvetica;
  color: #4c4c4c;
  margin-left: 40px;
  font-weight: lighter;
  margin-top: -10px;
}
.process2{
  font-family: helvetica;
  color: #4c4c4c;
  margin-left: 40px;
  font-weight: lighter;
}
.container{
  margin: 30px 120px;
  width: 510px;
}


.shipping input[type=text] {
    width: 220px;
    height: 38px;
    font-family: helvetica;
    font-size: 18px;
    text-indent: 15px;
    border: none;
    box-sizing: border-box;
    margin-right: 16px;
    margin-bottom: 20px;
}

.shipping input[type=text].long {
  width: 460px ;
}
div.PaymentForm {
  margin-left: 40px;

}
.payment input[type=radio] {
  margin-bottom: 15px;
}
.payment img {
  margin-left: 25px;
  transform: translateY(15px);
}
.PaymentForm input[type=text] {
    width: 300px;
    height: 38px;
    font-family: helvetica;
    font-size: 18px;
    text-indent: 15px;
    border: none;
    box-sizing: border-box;
    margin-right: 16px;
    margin-bottom: 20px;
}
.PaymentForm input[type=text].shortinput {
  width: 140px ;
}
label {
  font-family: helvetica;
  font-weight: lighter;
  font-size: 22px;
  margin-top: 20px;
  color: #000000;
}

select {
  -webkit-appearance: none;
  border: none;
  border-radius: 0px;
  height: 42px;
  min-width: 116px;
  font-family: helvetica;
  font-size: 18px;
  text-indent: 15px;
  color: #c0c0bf;
  background-image: url("Images/dropdown.png");
  background-position: 92px 14px;
  background-repeat: no-repeat;
}


.months{
  margin-left: 56px;
}

.years {
  margin-left: 16px;
}

.product {
  height: 200px;
  margin-left: 81px;
}

p {
  font-family: helvetica;
  font-weight: lighter;
  font-size: 18px;
  color: #000000;
}
.product img{
  float: left;
  margin-right: 80px;
  transform: translateX(40px);
}
.quantity {
  display: inline;
}
.clearfix {
  clear: both;
  margin-bottom: 40px;
}
.cardholder{
  transform: translateY(20px);
  width: 300px;
}
.cardholder2{
  transform: translateY(25px);
  width: 300px;
}
.short{
  transform: translateY(25px);
  width: 100px;
}
.Quantity {
  margin-left: 28px;
  margin-right: 80px;
}
.body{
  width: 700px;
  background-color: #e3dfd5;
  display: inline-block;
  overflow: hidden;
}

.right {
  width: 214px;
  display: inline-block;
  position: absolute;
  margin-top: 40px;
}

.placeorder h2 {
  font-family: helvetica;
  font-weight: lighter;
  font-size: 22px;
  margin-top: 12px;
  color: #000000;
}

.button {
    width: 214px;
    height: 45px;
    background-color: #e4b833;
    border: none;
    font-family: helvetica;
    font-weight: lighter;
    font-size: 22px;
    color: #000000;
}

.order {
  font-family: helvetica;
  font-weight: lighter;
  font-size: 12px;
  margin-top: 12px;
  margin-right: 0px;
}
.cart2 {
 height: 60px;
}

.cart2 hr {
  width: 214px;
}

.items {
  font-family: helvetica;
  font-weight: lighter;
  font-size: 12px;
  margin: 0px;
  margin-bottom: 15px;
  float: left;
  text-align: left;
}

.prices {
  font-family: helvetica;
  font-weight: lighter;
  font-size: 12px;
  padding-left: 52px;
  margin: 0px;
  margin-bottom: 15px;
  float: left;
  text-align: right;
}

.total {
  height: 30px;
}

.total p{
  font-family: helvetica;
  font-size: 22px;
  margin: 0px;
  margin-bottom: 15px;
  float: left;
  text-align: left;
}

 .totalprice  {
  font-family: helvetica;
  font-size: 22px;
  color: #ac2d24;
  margin: 0px;
  margin-left: 40px;
  margin-bottom: 15px;
  text-align: left;
}

.delivery {
  width: 125px;
  font-family: helvetica;
  font-weight: lighter;
  font-size: 12px;
  margin-top: 0px;
  margin-right: 88px
}
.footer{
  width: 100%;
  background-color: #305673;
  height: 510px;
}
.name{
  color: white;
  font-weight: lighter;
  transform: translateX(40px);
  position: absolute;
}
.fmenu{
  color: white;
  list-style-type: none;
  transform: translateY(45px);
  font-size: 16px;
  position: absolute;
}
.copyright{
  color: white;
  text-align: center;
  font-weight: lighter;
  position: relative;
  transform: translateY(120px);
  margin: 0;
}
