
body{
  margin: 0;
  background-color: #e3dfd5;
}
.header{
  background-color: #305673;
  width: 100%;
  height: 130px;
}
.title{
  margin: 0;
  transform: translateY(20px);
  color:white;
  text-align: center;
  font-weight: lighter;
}
.products{
  margin: 0;
  color:white;
  float: left;
  margin-left: 40px;
  transform: translateY(60px);
  font-weight: lighter;
}
.menu{
  margin: 0;
  color:white;
  float: left;
  margin-left: 20px;
  transform: translateY(60px);
  font-weight: lighter;
}
.cart{
  background-image: url("Images/Shoppingcart.png");
  background-size:contain;
  width: 34px;
  height: 30px;
  background-repeat: no-repeat;
  float: right;
  transform: translateY(13px) translateX(-90px);
}
.user{
  background-image: url("Images/user.png");
  background-size:contain;
  width: 28px;
  height: 30px;
  background-repeat: no-repeat;
  float: right;
  transform: translateY(13px) translateX(-10px);
}
.search-button{
  background-color: #e4b833;
  width:55px;
  height: 40px;
  float: right;
  position: relative;
  transform: translateY(45px);
}
.search-container{
  width: 465px;
  height: 40px;
  float: right;
  transform: translateX(20px);
}
.search{
  padding: 9px;
  height: 60%;
transform: translateX(5px);
}
input {
  float: left;
  position: relative;
  width: 400px;
  height:35px;
  font-size: 18px;
  font-family: "Arial", sans-serif;
  transform: translateY(45px);
}
input[type="text"] {
  color: #4c4c4c;
}
div.bodycontainer {
  width: 100%;
  height: 804px;
}

div.miniheader h4 {
  font-family: helvetica;
  font-weight: lighter;
  font-size: 15px;
  margin-left: 40px;
  margin-top: 35px;
  color: #000000;
}

div.smallimages {
  height: 205px;
  width: 60px;
  margin-left: 40px;
  float: left;
  margin-top: 20px;
  margin-right: 10px;
}

div.smallimages img {
  padding-bottom: 20px;
}

div.largeimage {
  height: 300px;
  width: 300px;
  margin-left: 20px;
  padding-bottom: 20px;
  float: left;
  margin-top: 20px;
  margin-right: 10px;
}

div.productdetails {
  width: 300px;
  margin-left: 120px;
  padding-bottom: 20px;
  float: left;
  margin-top: 20px;
}

div.productdetails h1 {
  width: 100%;
  font-family: helvetica;
  font-weight: lighter;
  font-size: 31px;
  margin-top: 0;
  color: #305673;
}

div.productdetails img {
  padding-right: 12px;
}

ul.details {
  font-family: helvetica;
  font-weight: lighter;
  font-size: 17px;
  margin-left: -22px;
}

div.cartcontainer {
  height: 380px;
  float: right;
  margin-top: 20px;
  margin-right: 40px;
}

.addbutton {
    width: 214px;
    height: 45px;
    background-color: #e4b833;
    border: none;
    font-family: helvetica;
    font-weight: lighter;
    font-size: 22px;
    color: #000000;
}

div.total {
  height: 30px;
  margin-top: 20px;
}

p.price {
  font-family: helvetica;
  font-weight: lighter;
  font-size: 22px;
  margin: 0px;
  margin-bottom: 15px;
  margin-right: 78px;
  float: left;
  text-align: left;
}

p.totalprice {
  font-family: helvetica;
  font-size: 22px;
  color: #22881d;
  margin: 0px;
}

div.productstatus {
  height: 30px;
  margin-bottom: 20px;
}

p.status {
  font-family: helvetica;
  font-weight: lighter;
  font-size: 22px;
  margin: 0px;
  margin-bottom: 15px;
  margin-right: 78px;
  float: left;
  text-align: left;
}

p.stock {
  font-family: helvetica;
  font-size: 22px;
  color: #22881d;
  margin: 0px;
  margin-left: -11px;
  float: left;
}

div.protectionplan {
  margin-bottom: 20px;
}

div.delivery {
  width: 125px;
  font-family: helvetica;
  font-weight: lighter;
  font-size: 12px;
  margin-top: 0px;
  margin-right: 88px
}

div.moreitems {
  float: left;
}

div.moreitems h1 {
  width: 100%;
  font-family: helvetica;
  font-weight: lighter;
  font-size: 31px;
  margin-left: 40px;
  margin-top: 0;
  color: #305673;
}

div.deals {
  width: 100%;
  margin-left: 40px;
  margin-right: 40px;
}

div.deals img {
  padding-right: 20px;
}
.footer{
  width: 100%;
  background-color: #305673;
  height: 510px;
}
.name{
  color: white;
  font-weight: lighter;
  transform: translateX(40px);
  position: absolute;
}
.fmenu{
  color: white;
  list-style-type: none;
  transform: translateY(45px);
  font-size: 16px;
  position: absolute;
}
.copyright{
  color: white;
  text-align: center;
  font-weight: lighter;
  position: relative;
  transform: translateY(120px);
  margin: 0;
}
