body{
  margin: 0;
  background-color: #e3dfd5;
}
.header{
  background-color: #305673;
  width: 100%;
  height: 100px;
}
.main-ad{
  width: 100%;
  height: 165px;
  background-image: url('Images/Shoes.png');
  background-size: cover;
  position: relative;
}
.cart{
  background-image: url("Images/Shoppingcart.png");
  background-size:contain;
  width: 34px;
  height: 30px;
  background-repeat: no-repeat;
  float: right;
  transform: translateY(13px) translateX(-90px);
}
.user{
  background-image: url("Images/user.png");
  background-size:contain;
  width: 28px;
  height: 30px;
  background-repeat: no-repeat;
  float: right;
  transform: translateY(13px) translateX(-10px);
}
.title{
  margin: 0;
  transform: translateY(20px);
  color:white;
  text-align: center;
  font-weight: lighter;
  text-decoration: none;
}
.products{
  margin: 0;
  color:white;
  float: left;
  margin-left: 40px;
  transform: translateY(35px);
  font-weight: lighter;
}
.menu{
  margin: 0;
  color:white;
  float: left;
  margin-left: 20px;
  transform: translateY(35px);
  font-weight: lighter;
}
.body{
  width: 100%;
  height: 995px;
  background-color: #e3dfd5;
}
.footer{
  width: 100%;
  background-color: #305673;
  height: 145px;
}
.search-container{
  text-align: center;
  background-color: #305673;
  width: 100%;
  height: 100px;
}
.search-container form{
  width: 470px;
  height: 40px;
  margin: 0 auto;
  transform: translateY(25px);
}
.search-button{
  background-color: #e4b833;
  width:55px;
  height: 44px;
  float: left;
  margin-left: 5px;
  position: relative;
}

.search{
  padding: 8px;
  height: 60%;
}
input {
  float: left;
  position: relative;
  width: 400px;
  height:40px;
  font-size: 18px;
  font-family: "Arial", sans-serif;
}
input[type="text"] {
  color: #4c4c4c;
}
.features{
  font-family: helvetica;
  font-size: 31px;
  font-weight: lighter;
  color: #305673;
  margin-left: 40px;
  margin-top: 36px;
}
.categories{
  width: 92%;
  height: 550px;
  margin: 30px auto;
}
.stuff {
  float: left;
  width: 48%;
  height: 45%;
  margin-right: 2%;
  margin-bottom: 2%;
}
.stuff2 {
  float: left;
  width: 48%;
  height: 45%;
  margin-left: 2%;
  margin-bottom: 2%;
}
.large{
  object-fit: cover;
  height:100%;
  width: 70%;
  float: left;
}
.small{
  float: left;
  height: 50%;
  width: 30%;
  object-fit: cover;
}
.lable{
  position: relative;
  top: 70px;
  left: 0;
  height: 50px;
  width: 230px;
  background-color: rgba(48, 86, 115, 0.5);
}
.words{
  color: white;
  font-weight: lighter;
  font-family: helvetica;
  margin: 0;
  position: relative;
  left: 10px;
  top: 15px;
}
.daily{
  color: #305673;
  font-weight: lighter;
  font-family: helvetica;
  margin-left: 40px;
  margin-top: 60px;
}
.deals{
  width: 92%;
  height: 140px;
  margin: 55px auto;
  display: flex;
  justify-content: space-between;

}
.dailydeals{
  width: 16%;
  float: left;
  height: 100%;
  object-fit: cover;
}

.name{
  color: white;
  font-weight: lighter;
  transform: translateX(40px);
  position: absolute;
}
.fmenu{
  color: white;
  list-style-type: none;
  transform: translateY(45px);
  font-size: 16px;
  position: absolute;
}
.copyright{
  color: white;
  text-align: center;
  font-weight: lighter;
  position: relative;
  transform: translateY(120px);
  margin: 0;
}
